*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: lightslategray;
	font-family: sans-serif;
}
.container{
	background-color: white;
	width: 100%;
	padding: 25px;
	margin: 100px auto 0;
	box-shadow: 0px 0px 25px #1b1b1b;
	border-radius: 10px;
}
.container h2{
	background-color: white;
	font-size: 24px;
	padding: 15px;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
	color: blueviolet;
	font-weight: bold;
	font-size: 50px;
}
.input_g{
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	display: flex;
}
.input_group{
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	display: flex;
	padding: 5px 0;
}
.input_box{
	width: 100%;
	margin-right: 12px;
	position: relative;
}
.input_box h5{
	color: rgba(137, 43, 226, 0.753);
	font-size: 30px;
	font-weight: bold;
	padding-top: 15px;
}
.input_box h6{
	font-size: 24px;
	font-weight: bold;
    padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 3px solid grey;
	overflow-wrap: break-word;
	color: grey;
}
.input_box label{
    right:80px;
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-weight: bold;
    padding-bottom: 15px;
	padding-top: 15px;
    position: relative;
   
}
html, body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.modal {
    width: 50vw;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
}
.input_f{
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}
.input_d{
	width: 100%;
	margin-right: 12px;
	position: relative;
}
.input_d button{
	width: 150px;
	background-color: blueviolet;
	color: white;
	border: none;
	padding: 15px;
	border-right: 5px;
	font-size: 16px;
	transition: all 0.3s ease;
	border-radius: 10px;
}
