*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: lightslategray;
	font-family: sans-serif;
}
.container{
	background-color: white;
	width: 100%;
	padding: 25px;
	/* box-shadow: 0px 0px 25px #1b1b1b; */
	border-radius: 10px;
	margin-top: none;
}
.container h2{
	background-color: white;
	color: blueviolet;
	font-size: 30px;
	font-weight: bold;
	padding: 15px;
	margin-bottom: 10px;
	text-align: center;
	border: 4px solid blueviolet;
	margin-top: 40px;
}
.container h3{
	background-color: white;
	color: blueviolet;
	font-size: 18px;
	padding: 15px;
	margin-bottom: 10px;
	text-align: center;
	display: block;
	overflow-wrap: break-word;
}
.input_g{
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}
.input_b{
	width: 100%;
	margin-right: 12px;
	position: relative;
}
.input_b button{
	width: 150px;
	background-color: blueviolet;
	color: white;
	border: none;
	padding: 15px;
	border-right: 5px;
	font-size: 16px;
	transition: all 0.3s ease;
	border-radius: 10px;

}
.container h5{
	padding-bottom: 20px;
	padding-top: 80px;
	color: grey;
}
.input_group{
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}
.input_box{
	width: 100%;
	margin-right: 12px;
	position: relative;
}
.input_box h6{
	color: blueviolet;
	font-size: 22px;
	font-weight: bold;
	overflow-wrap: break-word;
}

.input_box input{
	color: green;
}
.input_box label{
	padding-bottom: 15px;
	padding-top: 25px;
	color: medium #1b1b1b;
	font-weight: bold;
}
.input_box select{
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	overflow: hidden;
	background: lightgrey;
	border-radius: 10px;
	cursor: pointer;
	padding: 8px 12px;

}
.input_box input{
	width: 400px;
	height: 40px;
	border: 0;
	outline: 0;
	border-bottom: 2px solid grey;
 	background: transparent;
 	padding: 10px 0;
 	transition: 0.3s ease;
}
#button{
	width: 100%;
	background-color: blueviolet;
	color: white;
	border: none;
	padding: 15px;
	border-right: 5px;
	font-size: 22px;
	transition: all 0.3s ease;
	border-radius: 10px;
}
.input_box button:hover{
	cursor: pointer;

}